<h2>{{title}}</h2>
{{#link-to 'videos'}}Back{{/link-to}}
<br />
url: {{mediaUrl}}
<br />
YouTube ID: {{youtubeId}}
<iframe id="player" type="text/html" width="640" height="390" {{bind-attr src="youtubeSrc"}}
  frameborder="0"></iframe>

<br />
<br />
Up next: {{#link-to 'video' nextVideo}}{{nextVideo.title}}{{/link-to}}
