<h2>{{title}}</h2>
{{#link-to 'videos'}}All videos{{/link-to}}
<br />
<iframe id="player" type="text/html" width="640" height="390" {{bind-attr src="youtubeSrc"}} frameborder="0"></iframe>
<br />
<br />
URL: {{mediaUrl}}
<br />
YouTube ID: {{youtubeId}}
<br />
Up next >>: {{#link-to 'video' nextVideo}}{{nextVideo.title}}{{/link-to}}
<br />
Previous <<: {{#link-to 'video' previousVideo}}{{previousVideo.title}}{{/link-to}}

