<div class='clearfix'>
  <div class="previous pull-left">
    {{#link-to 'video' previousVideo}}previous{{/link-to}}
  </div>
  <div class="next pull-right">
    {{#link-to 'video' nextVideo}}next{{/link-to}}
  </div>
  <div class='video-container'>
    <video width="640" height="360" class="mediaelementize" id='player1' preload="none">
      <source type="video/youtube" {{bind-attr src="mediaUrl"}} />
    </video>
  </div>
</div>

<div class='clearfix'>
  YouTube ID: {{youtubeId}}
  <br />
  Media URL: <a {{bind-attr href="mediaUrl"}} target='_blank'>{{mediaUrl}}</a>
  <br />
  Source URL: <a {{bind-attr href="sourceUrl"}} target='_blank'>{{sourceUrl}}</a>
  <br />
  {{#if nextVideo}}
    Up next: {{#link-to 'video' nextVideo}}{{nextVideo.title}}{{/link-to}}
  {{/if}}
  <br />
  {{#if previousVideo}}
    Previous: {{#link-to 'video' previousVideo}}{{previousVideo.title}}{{/link-to}}
  {{/if}}
</div>
