<div class='clearfix'>
  <div class="previous left">
    {{#link-to 'video' previousVideo}}previous{{/link-to}}
  </div>
  <div class="next right">
    {{#link-to 'video' nextVideo}}next{{/link-to}}
  </div>
  
  {{video-player video=this autoplay=autoplay nextVideo=nextVideo}}

</div>

<div class='clearfix'>
  YouTube ID: {{youtubeId}}
  <br />
  Media URL: <a {{bind-attr href="mediaUrl"}} target='_blank'>{{mediaUrl}}</a>
  <br />
  Source URL: <a {{bind-attr href="sourceUrl"}} target='_blank'>{{sourceUrl}}</a>
  <br />
  {{#if nextVideo}}
    Up next: {{#link-to 'video' nextVideo}}{{nextVideo.title}}{{/link-to}}
  {{/if}}
  <br />
  {{#if previousVideo}}
    Previous: {{#link-to 'video' previousVideo}}{{previousVideo.title}}{{/link-to}}
  {{/if}}
</div>
